
/* Sourced from MDN Docs https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animations/Using_CSS_animations */
/* animations */
#animated {
    animation-duration: 3s;
    animation-name: slide-in;
  }
  
  @keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

/* MAIN RESUME  Container (EVERYTHING) */

.resume-container {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Arial, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* PROFILE CONTAINER  */

.profile-container {
    display: flex;
    padding: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.profile {
    align-items: center;
    gap: 10px;
    flex: 2;
    /*  */

}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.profile-information {
    align-items: center;
    width: 100%;
    text-align: right;
    flex: 1;
    align-content: center;
    /*  */
    color: gray;
}

.resume-container h1,
h2 {
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.resume-container h4,
h5,
p {
    color: gray;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
}

/* Objective  Text */

.objective {
    flex: 1;
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto;

    text-align: center;
    padding: 10px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;


}


/* Work History/ Education history / Skills  */

.qualification-container {
    display: flex;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.info-section {
    flex: 2;
    padding: 10px;
   
}

/* SKILL PROGRESS BAR */

.skills-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    padding: 10px;
   

}

.skill {
    background-color: #2c3e50;;
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;

}

.progress-bar {
    border: solid 1px black;
    background-color: rgb(46, 35, 35);
    border-radius: 10px;
    width: 100%;
    
}

.html {
    width: 30%;
}

.css {
    width: 20%;
}

.javascript {
    width: 10%;
}

@media (max-width: 480px) {

    .profile-container,
    .qualification-container {
        flex-direction: column;
        margin: 1em;
        align-content: center;

    }

    .profile-information {
        text-align: left;
    }
}
  
.carousel-inner img {
    width: 60vh;
    height: 50vh; 
  
    object-fit: cover;
}

#projects h1{
    margin-top: 10px;
}

/* sourced from  https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel*/
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


@media (min-width: 980px) {
    .carousel-inner img {
        max-width: 1000px;
        height: 900px; 
    
    }    
    .carousel img {
/* sourced from https://community.adobe.com/t5/dreamweaver-discussions/centering-bootstrap-carousel/td-p/9421414  LOL */ 
        margin: auto;
   
   }

}
